@import '../../style/colors.css';
@import '../../style/variables.css';

.jsCpa {
  /* position: absolute;
  width: 100%;
  height: 100%; */
}

.layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
