@import '../../style/colors.css';
@import '../../style/variables.css';

:root {
  --content-padding-left: 20px;
  --section-padding: 10px;
}

.content {
  position: relative;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  margin-left: var(--sidebar-width);
  padding-left: var(--content-padding-left);
  padding-top: var(--content-padding-left);
}

.printWrapper {
  display: grid;
  list-style-type: none;
  padding: 0;
  margin: 0;
  grid-gap: 10px;
  grid-template-columns: 100%;
}

.printTitle {
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  line-height: 24px;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}

.section {
  /* max-height: 400px; */
  /* grid-column: 1 / 3; */
}

.sectionHeader {
  display: flex;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  padding: var(--section-padding) 0;
  border-bottom: 1px solid #ddd;
}
.sectionBody {
  display: none;
  border-bottom: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: var(--section-padding) 0;
}

.section.active .sectionBody,
.mainPrint .mainPrintBody {
  display: block;
}
