@import '../../style/colors.css';
@import '../../style/variables.css';

:root {
  --content-padding-left: 20px;
}

.content {
  position: relative;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  margin-left: var(--sidebar-width);
  padding-left: var(--content-padding-left);
  padding-top: var(--content-padding-left);
}

.printWrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50% 50%;
}

.printTitle {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}
